<p>admin-product works!</p>


<a  routerLink="/Dashboard/addProduct">add product</a>

<div class="product">
  <div *ngFor="let product of dataProduct">
    <div class="card text-white bg-success mb-3" style="width: 18rem;">
      <img src="{{product.img}}" class="card-img-top" alt="img">
      <div class="card-body">
        <h5 class="card-title">{{ product.id }}</h5>
        <p class="card-text">{{ product.name }}</p>
        <a style="color:antiquewhite" routerLink="/productDetalis/{{product.id}}">details</a>
      </div>
    </div>

  </div>

</div>
